/*
======Colors=======
--first-color: Light-Blue #0af
--second-color: Blue #0B005D
--accent-color: Green #00fa3e
--text-color: Grey #414149
--title-color: Dark Blue #001824

======Fonts=======
'Montserrat', sans-serif;
*/


/*Formato General*/

:root {
    
    /*========== Colors ==========*/
    
    --first-hue-color: 200; /*Light Blue*/
    --second-hue-color: 247; /*Blue*/
    --acent-hue-color: 135; /*Green*/
    --text-hue-color: 235; /*Grey*/

    /* HSL color mode */
    --first-color: hsl(var(--first-hue-color), 100%, 50%);
    --second-color: hsl(var(--second-hue-color), 100%, 18%);
    --acent-color: hsl(var(--acent-hue-color), 100%, 49%);
    --title-color: hsl(var(--first-hue-color), 100%, 7%);
    --text-color: hsl(var(--text-hue-color), 6%, 27%);
    --gradient-color: hsl(var(--first-hue-color), 100%, 80%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    

    /*========== Font weight ==========*/
    --font-normal: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    /*========== Margins / Padding ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mp-0-25: .25rem;
    --mp-0-5: .5rem;
    --mp-0-75: .75rem;
    --mp-1: 1rem;
    --mp-1-5: 1.5rem;
    --mp-2: 2rem;
    --mp-2-5: 2.5rem;
    --mp-3: 3rem;

}


*{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}


/*=========================================HEADER====================================*/
/*Formato al header*/
.headerClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, var(--gradient-color), #fff 50%);
}

.headerLogo{
    width: 100px;
    margin-left: 15px;
}

.headerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerMenu > li {
    background-color: var(--first-color);
    padding: 0.4rem;
    margin: var(--mp-0-25);
    border-radius: 5px;
    list-style: none;
}

.headerMenu > li:hover{
    background-color: var(--second-color);
    transition: .5s;
}

.headerMenu > li > a {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: #fff;
    text-decoration: none;
}

/*=========================================CONTENT AREA HOME====================================*/
/*Formato al contenido*/

.bodyHome{
    font-size: var(--normal-font-size);
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.contentHomeClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.descriptionPage{
    margin-left: 30px;
}

.descriptionPage > h1{
    font-size: var(--big-font-size);
    animation-duration: 2s;
    animation-name: titleOpacity;
}

.descriptionPage > h2{
    font-size: var(--h2-font-size);
    animation-duration: 2s;
    animation-name: titleOpacity;
    
}



/*Formato de los articulos del Home*/
.articleContent{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.articleHome{
    width: 40%;
    border: solid 2px var(--second-color);
    border-radius: 10px;
    padding: 8px;
    margin: 15px 15px 5px 0px;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-direction: alternate;
}


.articleImg{
    width: 60%;
    height: 60%;
}

.asideImgHome{
    width: 150vw;
    animation-duration: 2s;
    animation-name: titleOpacity;
}


/*=========================================CONTENT AREA MI ESPACIO====================================*/

.contentMiespacioClass{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainMiEspacio{
    margin-left: var(--mp-1-5);
}

.descriptionPageMiEspacio > h1{
    font-size: var(--big-font-size);
    animation-duration: 2s;
    animation-name: titleOpacity;
}


.turnoClass{
    border: solid 2px var(--second-color);
    border-radius: 10px;
    padding: var(--mp-0-5);
    margin-bottom: var(--mp-1);
    margin-right: var(--mp-1);
}

.sectionTurno > h2{
    padding: var(--mp-0-75) 0px;
    animation-duration: 2s;
    animation-name: titleOpacity;
}
.sectionEstudio{
    width: 100%;
}

.sectionEstudio > h2 {
    padding: var(--mp-0-75) 0px;
    animation-duration: 2s;
    animation-name: titleOpacity;
}

.estudios{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.estudioClass > img{
    width: 300px;
    height: 300px;  
}

.estudioClass > h4{
    text-align: center;
}


.saludClass{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sectionSalud{
    width: 100%;
   
}

.sectionSalud > h2{
    padding: var(--mp-0-75) 0px;
    animation-duration: 2s;
    animation-name: titleOpacity;
}


.tipSalud > iframe {
    width: 400px;
    height: 200px;
    padding: 20px;
}

/*====================================CONTENT NOSOTROS=================================*/

.serviceDescription{
    width: 100%;
    border: 2px solid var(--first-color);
    border-radius: 5px;
    margin-bottom: var(--mp-1);
    padding: var(--mp-0-5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/*.contenedorNosotros{
    width: 40vw;
}*/

.contenedorNosotros > h2{
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}

.asideMedicos > h2{
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}

.descriptionPageNos > h1{
    font-size: var(--big-font-size);
    animation-duration: 2s;
    animation-name: titleOpacity;
}


.mainNos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin-left: var(--mp-1-5);
}

/*====================================GRID CARDS MEDICOS===============================*/
.contenedorMedico{
    /*width: 100%;*/
    border: 6px solid var(--first-color);
    color: #fff;
    border-radius: 15px;
    margin: var(--mp-0-25);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    width: 40vw;
}

.contenedorMedico > div{
    display: block;
    padding: var(--mp-0-25);
    background-color: var(--first-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .20);
    text-align: center;
}

.contenedorMedico > div > img{
    width: 102px;
    height: 122px;
}


.contenedorMedico .serviceCard{
    background-color: var(--container-color);
    color: var(--text-color);
    grid-column: 2 / -1;
}

.contenedorMedico .imgCard{
    background-color:#fff;
    grid-row: 1 / -1;
}

/*=====================================CONTENT TURNOS=================================*/

.descriptionPageTurno{
    margin-left: 30px;
    margin-right: 30px;
    
}

.descriptionPageTurno > h1{
    font-size: 40px;
    animation-duration: 2s;
    animation-name: titleOpacity;
}

form ul{
    padding: 10px;
}

.formTurno{
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
}

.turnos{
    border: 2px solid var(--first-color);
    border-radius: 5px;
    padding: var(--mp-1-5);
    margin: var(--mp-1-5);
}

.sectionArticleTurno{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.sectionArticleTurno > article{
    border: 2px solid var(--first-color);
    border-radius: 5px;
    padding: var(--mp-0-75);
    width: 40%;
}

.sectionArticleTurno > article > h3{
    font-size: var(--h3-font-size);
}

.sectionArticleTurno > article > img{
    width: 250px;
    height: 250px;
}

input{
    margin: 10px;
    padding: 5px;
}

/*====================================CONTENT CONTACT=================================*/

.mainContact{
    margin: 0px var(--mp-1-5) 0px var(--mp-1-5);
}
.map{
    width: 100%;
    height: 100%;
}

.contactDataIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--mp-0-75) 0px;
}

.sectionContact{
    margin: auto;
    width: 100%;
}

.descriptionPageContact > h1{
    font-size: var(--big-font-size);
    animation-duration: 2s;
    animation-name: titleOpacity;
}

.descriptionPageContact > h2{
    animation-duration: 2s;
    animation-name: titleOpacity;
}

/*=========================================FOOTER=========================================*/
/*Formato al footer*/
.zocalo {
    /*background-color: var(--container-color);*/
    background-image: linear-gradient(to top, var(--gradient-color), #fff 50%);
    padding: var(--mp-2);
}

.zocaloSocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zocaloContact {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.zocaloContact > h6 {
    margin: var(--mp-0-5);
}

/*Formato a los iconos de social media*/
i {
    font-size: var(--h1-font-size);
    transition: font-size 2s;
    color: var(--first-color);
    margin: var(--mp-0-25);
}

i:hover{
    font-size: var(--big-font-size);
    color: var(--second-color);
    transition: .5s;
}

p{
    font-family:'Catamaran', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
}

/*=========================================MODIFICACIONES A BOOTSTRAP=========================================*/

.row{
    justify-content: center;
}

.md-textarea{
    margin: 10px;
}

.md-form > label{
    margin-left: 10px;
}
/*=========================================ANIMACIONES=========================================*/

@keyframes titleOpacity {
    0% {
        opacity: 0;
      }
     
      100% {
        opacity: 1;
      }
}


@keyframes fadeIn {
    from {
        transform: translate(5px, 15px);

     
      opacity: 0;
    }
  
    to {
     
     
     opacity: 1;
   }
  }
/*=========================================MEDIA QUERIES=========================================*/
/*Movil grande*/
@media (max-width: 480px){
    
    nav{
        width: 100%;
    }
    .headerClass{
        flex-direction: column;
        background-image: linear-gradient(to bottom, var(--gradient-color), #fff 50%);
    }

    .headerMenu{
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        
    }

   
    .contentHomeClass{
        flex-direction: column-reverse;
    }


    .articleContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .articleHome{
        width: 90%;
        text-align: center;
        margin: 10px;
    }

    .zocaloContact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .asideImgHome{
        display: none;
    }

    .estudios{
        flex-direction: column;
    }

    .saludClass{
        flex-direction: column;
    }

    .formTurno{
        flex-direction: column;
        
    }

    .sectionArticleTurno{
        flex-direction: column;
        align-items: center;
       
    }

    .sectionArticleTurno > article{
        width: 90%;
        margin: 10px;
        text-align: center;
    }

}

/*ipads y tablets*/

@media (min-width: 768px) and (max-width: 1024px){
   
    .contentHomeClass{
        flex-direction: column;
    }

    .asideImgHome{
        display: none;
    }

    .articleHome{
        width: 90%;
        text-align: center;
        margin: 10px;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }

}

